.container {
    /* background-color: var(--color-surface-100); */
    border-radius: 5px;
    box-shadow: 2px 2px 5px 4px var(--color-primary-400);
    margin: 10px;
    max-height: fit-content;
    display: grid;
    grid: "name buttons";
    width: 100vw;
}