@media (max-width: 320px), (max-width: 375px), (max-width: 425px){
    .cardContainer {
        grid-template-columns: auto !important;
    }
}

@media (max-width: 768px){
    .cardContainer {
        grid-template-columns: auto auto !important;
    }

}

@media (max-width: 1024px){
    .cardContainer {
        grid-template-columns: auto auto auto !important;
    }

}

.card {
    background-color: var(--color-surface-200);
    color: white;
}

.levelCard {
    width: 30vw;
}

.text-muted {
    color: gray !important;
}

.col {
    margin-top: 45px;
}