.name {
    font-family: monospace;
    font-size: clamp(32px, 8vw, 50px);
    color: white;
    margin: 3px;
}

.names {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}