:root {
    /** CSS DARK THEME PRIMARY COLORS */
    --color-primary-100:  #00ff04;
    --color-primary-200:  #52ff40;
    --color-primary-300:  #75ff5f;
    --color-primary-400:  #8fff79;
    --color-primary-500:  #a6ff90;
    --color-primary-600:  #baffa7;
    /** CSS DARK THEME SURFACE COLORS */
    --color-surface-100:  #121212;
    --color-surface-200:  #282828;
    --color-surface-300:  #3f3f3f;
    --color-surface-400:  #575757;
    --color-surface-500:  #717171;
    --color-surface-600:  #8b8b8b;
}

.intro {
    color: white;
    margin-top: 1vw;
    margin-right: 20vw;
    margin-left: 20vw;
    height: 100%;
}

.ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: flex-start;
}

body {
    background-color: var(--color-surface-100);
}