.githubCard {
    font-size: 12px !important;
}

.projectsLink {
    text-decoration: none;
    color: var(--color-primary-500);
    display: flex;
    align-items: center;
}

.projectsLinkIcon {
    color: var(--color-primary-500);
    margin-right: 10px;
}
