.social {
    color: white;
}

.social:hover {
    color: gray;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;
    justify-content: space-evenly;
}

.socials > * + * {
    margin-left: 10px;
}