.social {
    color: white;
}

.social:hover {
    color: gray;
}

.socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.socials > * + * {
    margin-top: 10px;
}